/*
* Myla Hopewell
* Due Date
* Project Name and Description
*/

/* The universal selector */

* {}

/* Body attributes here */

body {
    background-color: black;
    color:white;
}

img {
    height: 300px
}

 